<PageTitle>Reveno - @(string.IsNullOrEmpty(SubTitle) ? Title : SubTitle)</PageTitle>

<style>
    .form-container {
        height: 100%;
    }

        .form-container > .form-container-content {
            overflow-y: auto;
        }
</style>

<div class="d-flex flex-column form-container">
    @if (!string.IsNullOrEmpty(Title))
    {
        <MudText Typo="Typo.h5" Color="Color.Primary" Class="px-6">
            @Title
        </MudText>
    }
    @if (!string.IsNullOrEmpty(SubTitle))
    {
        <MudText Typo="Typo.subtitle1" Class="mt-n2 px-6">
            @SubTitle
        </MudText>
    }

    <div class="form-container-content my-4">
        <div class="d-flex flex-column gap-3 px-6">
            @ChildContent
        </div>
    </div>

    <div class="d-flex flex-row gap-2 mt-2 px-6">
        <MudButton StartIcon="@SvgIcons.FLOPPY_DISK"
                   ButtonType="ButtonType.Submit"
                   Variant="Variant.Filled"
                   Color="Color.Primary"
                   DropShadow="false"
                   Disabled="@(!IsSaveEnabled)"
                   OnClick="OnSaveClick"
                   Class="@(IsSaveEnabled ? "cursor-pointer" : "cursor-not-allowed")">
            Save
        </MudButton>
        <MudButton ButtonType="ButtonType.Reset"
                   Disabled="@(!IsResetEnabled)"
                   OnClick="OnResetClick"
                   Class="@(IsSaveEnabled ? "cursor-pointer" : "cursor-not-allowed")">
            Reset
        </MudButton>
    </div>
</div>