@typeparam T
@inherits InputControlBase<T>

<div class="d-flex flex-column flex-grow-1">
    @if (!string.IsNullOrEmpty(Label))
    {
        <MudText Typo="Typo.body2"
                 HtmlTag="span"
                 Class="@(IsRequired ? "required" : string.Empty)">
            @Label
        </MudText>
    }
    @if (!string.IsNullOrEmpty(BoxText))
    {
        <div class="d-flex flex-row align-center">
            <MudSelect Placeholder="@Watermark"
                       Margin="Margin.Dense"
                       Variant="Variant.Outlined"
                       Disabled="@(!IsEnabled)"
                       Typo="Typo.body2"
                       Dense
                       Clearable
                       @bind-Value="Value"
                       Class="@(IsEnabled ? "flex-grow-1 cursor-auto" : "flex-grow-1 cursor-not-allowed")">
                @foreach (var item in Items)
                {
                    <MudSelectItem Value="item">@item</MudSelectItem>
                }
            </MudSelect>
            <MudPaper Outlined Square Class="ms-1 px-2 py-1 cursor-default border-dashed">
                <MudText Typo="Typo.caption"><b>@BoxText</b></MudText>
            </MudPaper>
        </div>
    }
    else
    {
        <MudSelect Placeholder="@Watermark"
                   Margin="Margin.Dense"
                   Variant="Variant.Outlined"
                   Disabled="@(!IsEnabled)"
                   Typo="Typo.body2"
                   Dense
                   Clearable
                   @bind-Value="Value"
                   Class="@(IsEnabled ? "flex-grow-1 cursor-auto" : "flex-grow-1 cursor-not-allowed")">
            @foreach (var item in Items)
            {
                <MudSelectItem Value="item">@item</MudSelectItem>
            }
        </MudSelect>
    }
    @if (!string.IsNullOrEmpty(HelpText))
    {
        <MudText Typo="Typo.caption">@HelpText</MudText>
    }
</div>